@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#52223c;
    --cor2:#6c3751;
    --cor3:#6b666d;
    --cor4:#8eaa94;
    --cor5:#e8d7a9;
    --cor6:#ffffff;
    --cor7:#000000;
}
html, body{
    min-height: 95vh;
    background-color:var(--cor3);

}
header{
    background-color:#52223c;
    color: #ffffff;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header >p{
    padding-bottom: 50px;
}
a{
    color:#e8d7a9;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;

}
section{
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color:#e8d7a9;
}
section.imagem{
    background-color: #a34f7883;
    color: #ffffff;
}
section.imagem>p{
    background-color: #00000017;
    width:30% ;
    padding: 15px;
    border: none;
}
footer{
    background-color: #52223c;
    color:#ffffff ;
    text-align: center;
    padding: 10px;
}
#codqr{
    width: 150px;
    size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 
    
}
