@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#52223c;
    --cor2:#6c3751;
    --cor3:#6b666d;
    --cor4:#8eaa94;
    --cor5:#e8d7a9;
    --cor6:#ffffff;
    --cor7:#000000;
}